.app {
  height: 100vh;
  display: flex;
}

.inputLayout {
  height: 100%;
}

.left {
  height: 100%;
}

.divider {
  height: 100%;
  cursor: col-resize;
  width: 8px;
  background-color: #eee;
}

.panel {
  flex: 0 1 auto;
  resize: horizontal;
}
